# Build Output
dist
.solid
.output
.vercel
.netlify
netlify

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# Local Configuration
.env
.env.*.local
